body {
    background-color: white;
    font-size: 16px;
    color: black;
}
.body-wrap {
    max-width: 1024px;
    margin: 0 auto;
}
.section1 {
    margin-top: 5rem;
    background: url("../images/bg1.jpg") no-repeat 0 0 / 100%  ;
}

.section2 {
    margin-top: 1rem;
}
.top-title{}
.common-title{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: #333333;
}
.ri-strong {
    font-weight: bold;
}
.bg-img1 img {
    width: 40%;
}
.bg-img1 {
    display: flex;
    justify-content: right;
    margin: 2rem 0 5rem 0;
}

.section3 {
    background:  url("../images/bg1.jpg") no-repeat 0 0 / 100%;
}
.s3-text-wrap {
    display: flex;
    justify-content: space-between;
}
.left-title1 {

}
.right-text1 {
    width: 60%;
}
.right-text-wrap {
    background-color: #F2F2F2;
    padding: 2rem 1rem;
}
.bg-img2  {
    margin-top: 3rem;
}
.bg-img2 img {
    width: 50%;

}

.item-title {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}
.item-desc {
    padding: .5rem 0 1rem 1.5rem;
}